body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./resources/blur-background-1187974.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  margin-top: 3rem;
}

form input[name="city"], form input[name="country"]{
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

form input:focus{
  background-color: transparent!important;
  box-shadow: none!important;
}

form input container::-webkit-input-placeholder{
  color: white!important;
}

/*favorites side bar*/

.favorites-wrapper{
  margin: 20px 0;
}
